<form
  [formGroup]="formActaMedica"
  (ngSubmit)="postRegistroActoMedico()"
  autocomplete="off"
>
  <div class="container p-4">
    <div class="card border-0">
      <div class="card-body">
        <div class="card-title mb-4 text-center"><h1>Acto Medico</h1></div>
        <div class="card mr-3 ml-3 border-0 shadow-card">
          <div class="card-body">
            <div class="card-title mb-4"><h4>Datos del paciente</h4></div>
            <div class="card-text">
              <ul *ngFor="let paciente of pacientes; index as i">
                <li><b>Paciente :</b> {{ paciente.nombre_completo }}</li>
                <li><b>Medico :</b> {{ paciente.medico[i].me_nombres }}</li>
                <li>
                  <b>Especialidad :</b>
                  {{ paciente.especialidad[i].es_descripcion }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap w-100 px-2">
          <div class="w-50 mw-50 px-2">
            <!--Registro-->
            <div class="card mt-3 border-0 shadow-card">
              <div class="card-body">
                <div class="card-title mb-4"><h4>Registros</h4></div>
                <div class="form-label-group">
                  <textarea
                    id="motivo"
                    class="form-control"
                    placeholder="Motivo de Consulta"
                    formControlName="motivo"
                  ></textarea>
                  <label for="motivo">Motivo de Consulta</label>
                </div>
                <div class="form-label-group">
                  <textarea
                    id="enfermedad"
                    class="form-control"
                    placeholder="Enfermedad o Problema Actual"
                    formControlName="enfermedad"
                  ></textarea>
                  <label for="enfermedad">Enfermedad o Problema Actual</label>
                </div>
                <div class="form-label-group">
                  <textarea
                    id="examen"
                    class="form-control"
                    placeholder="Examen Fisico"
                    formControlName="examen"
                  ></textarea>
                  <label for="examen">Examen Fisico</label>
                </div>
              </div>
            </div>
            <!--Signo Vitales-->
            <div class="card mt-3 border-0 shadow-card">
              <div class="card-body">
                <div class="card-title mb-4"><h4>Signos Vitales</h4></div>
                <div class="d-flex flex-wrap w-100 justify-content-between">
                  <div class="w-50 mw-50 p-1">
                    <div class="form-label-group">
                      <input
                        type="text"
                        id="presion"
                        class="form-control"
                        placeholder="Presion Arterial"
                        formControlName="arterial"
                      />
                      <label for="presion">Presion Arterial</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="frecuencia"
                        class="form-control"
                        placeholder="F. Cardiaca(min)"
                        formControlName="cardiaca"
                      />
                      <label for="frecuencia">F. Cardiaca(min)</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="respiratoria"
                        class="form-control"
                        placeholder="F.Respiratoria(min)"
                        formControlName="respiratorio"
                      />
                      <label for="respiratoria">F.Respiratoria(min)</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="bucal"
                        class="form-control"
                        placeholder="Temp. Bucal(c)"
                        formControlName="bucal"
                      />
                      <label for="bucal">Temp. Bucal(c)</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="axiliar"
                        class="form-control"
                        placeholder="Temp. Axilar(c)"
                        formControlName="axilar"
                      />
                      <label for="axiliar">Temp. Axilar(c)</label>
                    </div>
                  </div>
                  <div class="w-50 mw-50 p-1">
                    <div class="form-label-group">
                      <input
                        type="text"
                        id="peso"
                        class="form-control"
                        placeholder="Peso(kg)"
                        formControlName="peso"
                      />
                      <label for="peso">Peso(kg)</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="talla"
                        class="form-control"
                        placeholder="Talla(m)"
                        formControlName="talla"
                      /><label for="talla">Talla(m)</label>
                    </div>
                    <div class="form-label-group">
                      <input
                        type="text"
                        id="masa"
                        class="form-control"
                        placeholder="I.Masa corporal"
                        formControlName="mcorporal"
                      /><label for="masa">I.Masa corporal</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="perim"
                        class="form-control"
                        placeholder="Perim Cefalico(cm)"
                        formControlName="cefalico"
                      /><label for="perim">Perim Cefalico(cm)</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-50 mw-50 px-2">
            <!--Antecedentes-->
            <div class="card mt-3 border-0 shadow-card">
              <div class="card-body">
                <div class="card-title mb-4"><h4>Antecedentes</h4></div>
                <div class="form-group">
                  <select
                    class="custom-select form-control"
                    formControlName="anPersonales"
                  >
                    <option [ngValue]="null">PERSONALES Y ALERGIAS</option>
                    <option
                      *ngFor="let personal of antPersonales"
                      [ngValue]="personal.an_codigo"
                    >
                      {{ personal.an_destipo }} /
                      {{ personal.an_descripcion }}</option
                    >
                  </select>
                </div>

                <div class="form-label-group">
                  <input
                    type="text"
                    class="form-control"
                    id="personal"
                    placeholder="Descripcion personal"
                    formControlName="dpersonal"
                  />
                  <label for="personal">Descripcion personal</label>
                </div>

                <div class="form-group">
                  <select
                    class="custom-select form-control"
                    formControlName="anFamiliares"
                  >
                    <option [ngValue]="null">FAMILIARES</option>
                    <option
                      *ngFor="let familiares of antFamiliares"
                      [ngValue]="familiares.an_codigo"
                    >
                      {{ familiares.an_destipo }} /
                      {{ familiares.an_descripcion }}</option
                    >
                  </select>
                </div>

                <div class="form-label-group">
                  <input
                    type="text"
                    class="form-control"
                    id="familiares"
                    placeholder="Descripcion familiares"
                    formControlName="dfamiliares"
                  />
                  <label for="familiares">Descripcion familiares</label>
                </div>
              </div>
            </div>
            <!--Diagnostico-->
            <div class="card mt-3 border-0 shadow-card">
              <div class="card-body">
                <div class="card-title mb-4"><h4>Diagnosticos</h4></div>
                <div class="form-label-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="inpcie"
                    id="cie"
                    placeholder="Cie10"
                  />
                  <label for="cie">Cie10</label>
                </div>
                <div class="mb-2">
                  <ul class="list-group">
                    <li
                      (click)="addCie(cie)"
                      class="list-group-item"
                      *ngFor="
                        let cie of cies
                          | paginate: { itemsPerPage: 5, currentPage: page }
                      "
                    >
                      <span
                        ><b>{{ cie.codigo }}</b></span
                      >
                      {{ cie.descripcion }}
                    </li>
                    <li class="list-group-item">
                      <pagination-controls
                        (pageChange)="page = $event"
                      ></pagination-controls>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Selection cie-->
            <div
              class="card mt-3 border-0 shadow-card"
              *ngIf="selectCies.length > 0"
            >
              <div class="card-body">
                <div class="card-title mb-4"><h4>Cie seleccionado</h4></div>
                <div
                  class="card"
                  *ngFor="let selectCie of selectCies; index as i"
                >
                  <div class="card-body">
                    <div class="card-title">
                      <b>{{ selectCie.codigo }}</b>
                    </div>
                    <div class="card-text mb-3 mt-2">
                      {{ selectCie.descripcion }}
                    </div>
                    <div class="d-flex justify-content-between">
                      <input
                        type="radio"
                        (click)="updateCie($event, selectCie)"
                        [name]="i"
                        value="1"
                        checked
                      />
                      <label>Definitvo</label>
                      <input
                        type="radio"
                        (click)="updateCie($event, selectCie)"
                        [name]="i"
                        value="2"
                      />
                      <label>Presuntivo</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Atencion-->
            <div class="card mt-3 border-0 shadow-card">
              <div class="card-body">
                <div class="card-title mb-4"><h4>Destino de Atencion</h4></div>
                <select
                  class="custom-select form-control"
                  formControlName="destino"
                >
                  <option value="null">SELECCIONAR DE ATENCION</option>
                  <option value="1">RECITA</option>
                  <option value="2">INTERCONSULTA</option>
                  <option value="3">ALTA</option>
                  <option value="4">REFERENCIA</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button type="submit">
            <h5>Generar Acto Medico</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
