<!-- <div class="container p-4">
  <div class="card mb-4" style="border-radius: 1.5rem;">
    <div class="card-body">
      <div class="card-title mb-4"><h4>Datos del paciente</h4></div>
      <div class="card-text">
        <div class="d-flex flex-wrap w-100 justify-content-start">
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Historia: 136033
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Edad: 1a / 12m / 56d
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Sexo: FEMENINO
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Fecha Nacimiento: 04/03/2020
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Paciente: COSTAS RAMIREZ AISLYNN GAELA
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Medico: CARDENAS VILLACORTA GILBERTO
          </div>
          <div class="border mr-2 mb-2 p-3 rounded-pill">
            Especialidad: PEDIATRIA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-label-group">
    <input
      type="text"
      id="Username"
      class="form-control"
      placeholder="Username"
    />
    <label for="Username">Username</label>
  </div>

  <div class="form-label-group">
    <input
      type="text"
      name=""
      id="Username1"
      class="form-control"
      placeholder="Username"
    />
    <label for="Username1">Username</label>
  </div>
  <div class="form-label-group-textarea">
    <textarea
      name=""
      id="Motivo"
      class="form-control"
      placeholder="Motivo de Consulta"
    >
    </textarea>
    <label for="Motivo">Motivo de Consulta</label>
  </div>

</div> -->

<div class="container p-4">
  <button type="submit" (click)="acto()">Link</button>
</div>
