<div class="container p-4">
  <h1 class="text-center mb-4">Pacientes Citados</h1>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Orden</th>
        <td mat-cell *matCellDef="let element; index as id">{{ id + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
      </ng-container>
      <ng-container matColumnDef="ci_numhist">
        <th mat-header-cell *matHeaderCellDef>Historia</th>
        <td mat-cell *matCellDef="let element">{{ element.ci_numhist }}</td>
      </ng-container>
      <ng-container matColumnDef="nombre_completo">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre_completo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Parte Diario</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="btn btn-outline-success"
            (click)="getActaMedico(element.ci_idcita)"
          >
            Generar
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
      class="mat-paginator"
    ></mat-paginator>
  </div>
</div>
